@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,600&display=swap");
:root {
  --primary-color: #343a40;
}

.post-edit-link {
  position: absolute;
  top: 0;
  left: 0;
}

#main-wrapper {
  position: relative;
}

#sprayloc-container {
  padding-top: 80px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2em;
  min-height: calc(100vh  - 120px - 2em);
}

.sprayloc-dark {
  color: white;
  background-color: #343a40;
}

.inner-content {
  padding: 0 1rem;
  padding-bottom: 2rem;
  -webkit-box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
}

@media screen and (min-width: 700px) {
  .inner-content {
    padding: 0 .5rem;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .inner-content {
    padding: 0 2.5rem;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .inner-content {
    padding: 0 5rem;
    padding-bottom: 2rem;
  }
}

body {
  background-color: #F3F3F3;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiasing;
}

.menu-spacer {
  height: 80px;
}

#app-inventaire {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "folders" "search" "cards ";
}

@media screen and (min-width: 1400px) {
  #app-inventaire {
    -ms-grid-columns: 1fr 0.1fr;
        grid-template-columns: 1fr 0.1fr;
        grid-template-areas: "search search" "cards  folders";
  }
}

#app-inventaire #folders-bar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: folders;
}

#app-inventaire #folders-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: auto;
  max-width: 800px;
  padding: 1em 0px;
  -webkit-box-shadow: 1px 1px 2px 2px #00000006;
          box-shadow: 1px 1px 2px 2px #00000006;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media screen and (min-width: 1400px) {
  #app-inventaire #folders-bar .wrapper {
    border-radius: 4px;
  }
}

#app-inventaire #folders-bar .category {
  position: relative;
}

#app-inventaire #folders-bar .subfolders-container {
  position: absolute;
  z-index: 5;
  background-color: white;
  opacity: 0;
  left: 0%;
  top: 100%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  pointer-events: none;
}

#app-inventaire #folders-bar .subfolders-container.show {
  pointer-events: unset;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#app-inventaire #folders-bar div a {
  display: block;
  text-align: middle;
  cursor: pointer;
  opacity: 0.5;
  padding: 0 1em;
}

#app-inventaire #folders-bar div a:hover {
  opacity: 1;
}

#app-inventaire #folders-bar div.subcategory a {
  font-size: 0.8rem;
  margin: .3em;
  padding-top: 0.5em;
  left: 1em;
}

#app-inventaire #folders-bar div.active {
  opacity: 1;
  font-weight: bolder;
  position: relative;
}

#app-inventaire #folders-bar div.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  border-bottom: 2px solid grey;
}

@media screen and (min-width: 1400px) {
  #app-inventaire #folders-bar .wrapper {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: white;
    padding-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  #app-inventaire #folders-bar .category {
    margin-top: 1em;
  }
}

#app-inventaire .no-equipment {
  font-weight: bolder;
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 2em 0em;
}

#app-inventaire #search-infos {
  padding: 1em .5em 0em .5em;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

#app-inventaire #search-bar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: search;
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
}

#app-inventaire #search-bar #search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border-bottom: 1px solid gray;
}

#app-inventaire #search-bar #search input[type="search"] {
  font-size: 17px;
  border: none;
  float: left;
  width: 150px;
  background: #f1f1f1;
}

#app-inventaire #search-bar #search input[type="search"]:focus {
  outline: none;
}

#app-inventaire #search-bar #search i {
  position: relative;
  left: 0px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  color: #343a40;
}

#app-inventaire .has-search .form-control {
  padding-left: 2.375rem;
}

#app-inventaire .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#app-inventaire .cards-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cards;
  padding-top: 2em;
  padding-left: .5em;
  padding-right: .5em;
  margin: 0 auto;
  --auto-grid-min-size: calc(1500px / 8);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(var(--auto-grid-min-size), 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

#app-inventaire .cards-container .sprayloc-card {
  overflow-y: hidden;
  width: 100%;
  background-color: #343a40;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
  cursor: pointer;
}

#app-inventaire .cards-container .sprayloc-card:hover {
  background-color: #393f46;
  -webkit-box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.5);
}

#app-inventaire .cards-container .sprayloc-card .card-image {
  width: 100%;
  min-height: 100px;
  background-size: cover;
  background-position: center center;
}

#app-inventaire .cards-container .sprayloc-card .content {
  padding: 0.6em 0.8em;
  color: white;
}

#app-inventaire .cards-container .sprayloc-card .content .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: pre;
  width: 100%;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 1em;
  cursor: pointer;
}

#app-inventaire .cards-container .sprayloc-card .content .title:hover {
  text-decoration: underline;
}

#app-inventaire .cards-container .sprayloc-card .content .external-remark {
  font-size: 0.85em;
  font-weight: lighter;
  text-transform: lowercase;
}

#app-inventaire .cards-container .sprayloc-card .content .external-remark.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 20px auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app-inventaire .cards-container .sprayloc-card .content .category {
  font-size: 0.7em;
}

#app-inventaire .cards-container .sprayloc-card .content .details-button {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  margin-left: auto;
  display: inline-block;
  padding: 0.3em 0.4em;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
  line-height: auto;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  color: white;
}

#app-inventaire .cards-container .sprayloc-card .card-footer {
  cursor: pointer;
  background-color: #4b545c;
  color: white;
  font-size: .8em;
  padding: 0.3em 0.8em;
}

#app-inventaire .cards-container .sprayloc-card .card-footer:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1500px) {
  #app-inventaire .cards-container {
    margin: 0 auto;
  }
}

#app-inventaire #details-container {
  position: absolute;
}

#app-inventaire #details-container #details-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  background-color: rgba(52, 58, 64, 0.8);
  pointer-events: none;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  z-index: 0;
}

#app-inventaire #details-container #details-overlay.opened {
  opacity: 1;
}

#app-inventaire #details-container #details-window {
  position: fixed;
  max-height: 90vh;
  min-height: 500px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #292d32;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.1fr 0.1fr 1fr;
      grid-template-rows: 0.1fr 0.1fr 1fr;
  opacity: 0;
      grid-template-areas: "header pictures" "title pictures" "description pictures";
}

#app-inventaire #details-container #details-window.opened {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: unset;
}

#app-inventaire #details-container #details-window .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background: #343a40;
  height: 80px;
}

#app-inventaire #details-container #details-window .header .close-details-btn {
  cursor: pointer;
  width: 50px;
}

#app-inventaire #details-container #details-window .header .close-details-btn svg {
  color: #ddd;
  width: 100%;
  height: 80px;
  font-weight: light;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

#app-inventaire #details-container #details-window .header .close-details-btn:hover svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  color: #555;
}

#app-inventaire #details-container #details-window .title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  color: white;
  font-size: 2em;
  margin: 0;
  padding: 0.5rem 1rem;
}

#app-inventaire #details-container #details-window .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  color: white;
  padding: 0 2rem;
  overflow-y: auto;
}

#app-inventaire #details-container #details-window div span.no-picture {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: white;
  text-align: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  top: -55px;
}

#app-inventaire #details-container #details-window .pictures {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: pictures;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #121416;
}

#app-inventaire #details-container #details-window .pictures.single-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 800px) {
  #app-inventaire #details-container #details-window {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.2fr 0.2fr 0.6fr 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.6fr 1fr;
    max-height: unset;
    height: 100%;
        grid-template-areas: "header" "title" "description" "pictures";
    overflow-y: auto;
  }
  #app-inventaire #details-container #details-window .title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: title;
    font-size: 1.2em;
    margin: 0;
    padding: 0.2rem 0.5rem;
  }
  #app-inventaire #details-container #details-window .description {
    padding: 0.5rem;
  }
}

#app-inventaire .carousel-inner {
  width: 100%;
  height: 100%;
}

#app-inventaire .carousel-item {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#app-inventaire .pictures .image-slider-controls {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
}

#app-inventaire .pictures .image-slider-controls:focus {
  outline: none;
}

#app-inventaire .pictures .image-slider-controls div {
  display: block;
  height: 80px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  cursor: pointer;
  z-index: 10;
  pointer-events: all;
}

#app-inventaire .pictures .image-slider-controls div:hover {
  opacity: 1;
}

#app-inventaire .pictures .image-slider-controls div:focus {
  outline: none;
}

#app-inventaire .pictures .image-slider-controls .prev {
  left: 0px;
}

#app-inventaire .pictures .image-slider-controls .next {
  right: 0px;
}

#spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#spinner-container #spinner {
  width: 80px;
  height: 80px;
}

.btn-page-top {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #4b545c;
  z-index: 10000;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.9;
  -webkit-transition: width .3s ease, border-radius .3s ease .2s, -webkit-transform .5s ease;
  transition: width .3s ease, border-radius .3s ease .2s, -webkit-transform .5s ease;
  transition: width .3s ease, border-radius .3s ease .2s, transform .5s ease;
  transition: width .3s ease, border-radius .3s ease .2s, transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

.btn-page-top.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.btn-page-top > svg {
  display: inline-block;
  color: white;
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -60%);
          transform: translate(50%, -60%);
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.btn-page-top .text {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  white-space: nowrap;
  color: white;
  font-size: .9em;
  font-weight: bolder;
  line-height: 0;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-page-top:hover {
  width: 165px;
  opacity: 1.0;
}

.btn-page-top:hover > svg {
  -webkit-transform: translate(160%, -60%) scale(0.8);
          transform: translate(160%, -60%) scale(0.8);
}

.btn-page-top:hover .text {
  opacity: 1.0;
}

@media (hover: none) {
  .btn-page-top:hover {
    width: 60px;
    opacity: 1.0;
    border-radius: 30px;
  }
  .btn-page-top:hover > svg {
    -webkit-transform: translate(50%, -60%);
            transform: translate(50%, -60%);
  }
  .btn-page-top:hover .text {
    opacity: 0.0;
  }
}

.lightbox-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  content-visibility: hidden;
}

#main-nav {
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background: grey;
  z-index: 100;
}

#main-nav .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  cursor: pointer;
}

#main-nav .navbar-brand .logo-bold {
  font-weight: bolder;
}

#main-nav .navbar-brand .logo-thin {
  font-weight: lighter;
}

#main-nav a {
  color: white;
}

#main-nav a:hover {
  text-decoration: underline;
}

#main-nav a.active {
  font-weight: bolder;
}

#main-nav .navbar-toggler {
  display: none;
}

#main-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-nav ul li {
  display: block;
  color: white;
  padding: 0 .6em;
}

@media screen and (max-width: 650px) {
  #main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #main-nav .navbar-toggler {
    display: block;
  }
  #main-nav ul {
    display: none;
  }
}

#sidebar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  width: 200px;
  height: 100%;
  background: orange;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  z-index: 1000;
  -webkit-box-shadow: inset -5px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset -5px 0px 5px rgba(0, 0, 0, 0.2);
}

#sidebar-nav.hide {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#sidebar-nav ul {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0em;
  align-items: flex-start;
  width: 100%;
}

#sidebar-nav ul li {
  position: relative;
  display: block;
  color: white;
  width: 100%;
  padding: 0 .3em;
  padding-top: 1em;
}

#sidebar-nav ul li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 10;
}

#sidebar-nav ul li a {
  color: white;
}

@media screen and (min-width: 650px) {
  #sidebar-nav {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.contact-form {
  width: 100% !important;
}

.contact-form * .wpforms-one-half {
  max-width: unset !important;
}

.contact-form * .wpforms-field-medium {
  max-width: unset !important;
}

.page-contact-infos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
}

.page-contact-infos span {
  line-height: 2em;
}

.page-contact-infos .contact-infos {
  padding: 1em;
}

@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-column:not(:only-child) {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  width: 100%;
  height: 120px;
  background-color: #343a40;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .footer-content .footer-menu {
  list-style: none;
  margin-bottom: 0;
}

footer .footer-content .footer-menu a {
  color: white;
}

footer .footer-content .footer-menu a.active {
  font-weight: bolder;
}

footer .footer-content .contact-infos {
  padding-right: 1em;
  position: relative;
}

footer .footer-content .contact-infos::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0px;
  left: -6px;
  background-color: rgba(255, 255, 255, 0.3);
}

footer #copyright {
  width: 100%;
  text-align: center;
}

.logo-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
}

.logo-container .inner-container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo-container .logo-title {
  display: block;
  position: relative;
  font-size: 5em;
  font-weight: 200;
  z-index: 2;
  color: #444;
  margin-left: 0.2em;
}

.logo-container .logo-title span.spray {
  font-weight: bolder;
}

#three_drops {
  -webkit-transform: translate3d(50%, 50%, 0) scale(0.8);
          transform: translate3d(50%, 50%, 0) scale(0.8);
  z-index: -1;
  pointer-events: none;
}

#drop_1 {
  /*   fill : cyan; */
  fill: #14d2ff;
  mix-blend-mode: multiply;
}

#drop_2 {
  /*   fill : magenta; */
  fill: #d20aff;
  mix-blend-mode: multiply;
}

#drop_3 {
  /*   fill : yellow; */
  fill: #dcff00;
  mix-blend-mode: multiply;
}

.inner-container svg {
  position: relative;
  display: block;
  -webkit-transform: translateY(10px) scale(0.55);
          transform: translateY(10px) scale(0.55);
  overflow: unset;
  background: transparent;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 128, 0, 0.3));
          filter: drop-shadow(5px 5px 5px rgba(0, 128, 0, 0.3));
}
/*# sourceMappingURL=sprayloc_style.css.map */